body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  background: var(--bg);
  color: var(--text);
}
.container {
  padding: 1em;
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

input {
  font-size: 16px;
  width: 95%;
  padding: 0.5em;
  margin-top: 0.25em; /* Add space between label text and input */
}
button {
  font-size: 16px;
  padding: 0.5em;
  background: black;
  text: white;

}
canvas {
  display: block;
  margin-top: 1em;
}

:root {
  --bg: white;
  --text: black;
}

body.dark {
  --bg: black;
  --text: white;
}

/*button.dark {
  --bg: white;
  --text: black;
}*/

.theme-toggle {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.switch input {
  display: none;
  position: absolute;
  opacity: 0;
}

.icon {
  font-size: 1.2em;
  padding: 0 0.3em;
}

.slider {
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
  transition: background-color 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}


.switch .icon: {
  transition: opacity 0.3s ease;
}

.switch .icon:first-child { /* 🌞 icon */
  opacity: 1;
}

.switch .icon:last-child { /* 🌙 icon */
  opacity: 0;
}

#themeSwitch:checked + .switch .icon:first-child {
  opacity: 0;
}

#themeSwitch:checked + .switch .icon:last-child {
  opacity: 1;
}
}
